<!-- This page includes the camera and and all 
start chrome with --unsafely-treat-insecure-origin-as-secure="example.com"
for it to work
-->
<h3 class="level">WELL DONE!</h3>

<div class="container">
	<div class="col">
		<div>
			<h3>Talking speed</h3>
			<p class="speed indicator">Too fast</p>
		</div>
		<div>
			<h3>Engagement</h3>
			<p class="engagement indicator">23/100</p>
		</div>
	</div>
	<div class="col text">
		<h2>CONGRATS, YOU ARE ONE STEP CLOSER TO DELETING YOUR TINDER</h2>
	</div>
	<div class="col">
		<div>
			<h3>Enthusiasm</h3>
			<p class="indicator enthusiasm">23/100</p>
		</div>
		<div>
			<h3>Confidence</h3>
			<p class="indicator confidence">60/100</p>
		</div>
	</div>
</div>
<div class="wrapper">

<h2>Overall score:</h2>
<h3 class="overallScore">63%</h3>
  <div class="percent-66">
    <div class="speedometer play">
      <div class="dial">
        <div class="bar">
          <div class="half-circle half-circle-bg"></div>
          <div class="half-circle half-circle-speed animated"></div>
          <div class="half-circle half-circle-cover"></div>
        </div>
        <div class="needle animated">
          <div class="inner">
            <div class="top"></div>
            <div class="bottom"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
	<h2>Look to improve</h2>
	<p class="advice"></p>
</div>
</div>


<script type="text/javascript">
	var getAdviceFromScores = function(fillerWords, intersestScoreSpeech, intersestScoreVideo, nervousnessScoreVideo, speedScore, overallScore){
	message = "";
	if(overallScore<0.5)
		message = message + "You will get better with time."
	else if(overallScore<0.6)
		message = message + "That was not bad at all!"
	else if(overallScore<0.7)
		message = message + "You are good!"
	else if(overallScore<0.8)
		message = message + "That was impressive!"
	else
		message = message + "That was an excellent conversation! This guy fucks ;)"

	if(fillerWords.length>0){
		message = message + " Try to avoid the over-usage of filler words eg-";
		for (var i =0; i<fillerWords.length; i++)
			message = message + " '" + fillerWords[i][0]+"'";
		message = message + ".";
	}
	if(intersestScoreSpeech<0)
		message = message + " Try using phrases like 'wow', 'great' etc, so that other person knows you find talking to them interesting.";

	if(intersestScoreVideo<0.6)
		message = message + " You should be a bit more expression-full while talking to them.";

	if(nervousnessScoreVideo>0.1)
		message = message + " You looked a bit nervous. Try being more confident?";

	if(speedScore>0.5)
		message = message + " You talking was very fast-paced. Try slowing down?";
	
	if(Math.random()<0.5)
		message = message + " Good luck for the next one!";
	else
		message = message + " May the charm be with you!";
	return message;
}
	var stats
  $.get('/analyze_api', function(result){
  	stats = JSON.parse(result);
  	console.log('stats')
  }).done(function(){
  	if (stats.speedScore+0.35 > 0.5) {
    	$('.indicator.speed').text('Too fast')
    }
    else if (stats.speedScore+0.35 < -0.5) {
    	$('.indicator.speed').text('Too slow')
    } else {
    	$('.indicator.speed').text('Good pace')
    	$('.indicator.speed').css('color','#00c100')
    }
    console.log(stats);
    var engagement = stats.intersestScoreVideo*100;
    $('.indicator.engagement').text(engagement.toString()+'%');
    var confidence = Math.round((1-stats.nervousnessScoreVideo)*100);
    $('.indicator.confidence').text(confidence.toString()+'%');
    var enthusiasm = stats['intersestScoreSpeech']*100;
    $('.indicator.enthusiasm').text(enthusiasm.toString()+'%');
    var overallScore = Math.round((enthusiasm+confidence+engagement+(1-Math.abs(stats.speedScore+0.35))*100)/4);
    console.log(overallScore)
    $('.overallScore').text(overallScore.toString()+'%');
    $('.advice').text(getAdviceFromScores(stats.fillers, stats.intersestScoreSpeech, stats.intersestScoreVideo, stats.nervousnessScoreVideo, stats.speedScore, overallScore))
  });

var speed = {
	'trigger': '#speed-compare',
	'target':'.modal_content .speedometer'
};

$(speed.trigger).on('click', function() {
	setTimeout( function() { 
		$(speed.target).each(function() {
			$(this).addClass('play');
		})
	}, 1000);
})

</script>