<!-- This page includes the camera and and all 
start chrome with --unsafely-treat-insecure-origin-as-secure="example.com"
for it to work
-->
<h3 class="level">Dating Challenges - Level 1</h3>
<nav>
		<ol class="cd-multi-steps text-top">
			<li class="visited"><a href="#0">Tutorial</a></li>
			<li class="current"><a href="#0">Ask OUT</a></li>
			<li class="" ><a href="#0"><em>Date</em></a></li>
			<li class=""><em>Date</em></li>
			<li><em>Walk</em></li>
		</ol>
	</nav>
	<div class="achievement out">
    <span class="heart">
        
    </span>
    <span class="textss">Level passed<br/>
    Click for your feedback!</span>
  
</div>
	<div class="conversation-panel">
		<video muted autoplay class="video-feedback" width="150px" height="114px"></video>
		<canvas style="display: none;"></canvas>
	</div>
	<div class="transcript">
		<div class="text tlt">
			<p></p>
		</div>
	</div>



<script language="javascript" type="text/javascript">
function onVideoFail(e) {
    console.log('webcam fail!', e);
  };

function hasGetUserMedia() {
  // Note: Opera is unprefixed.
  return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia);
}

if (hasGetUserMedia()) {
  // Good to go!
} else {
  alert('getUserMedia() is not supported in your browser');
}

window.URL = window.URL || window.webkitURL;
navigator.getUserMedia  = navigator.getUserMedia || 
                         navigator.webkitGetUserMedia ||
                          navigator.mozGetUserMedia || 
                           navigator.msGetUserMedia;

var video = document.querySelector('video');
var streamRecorder;
var webcamstream;

if (navigator.getUserMedia) {
  navigator.getUserMedia({audio: true, video: true}, function(stream) {
    video.src = window.URL.createObjectURL(stream);
    webcamstream = stream;

//  streamrecorder = webcamstream.record();
  }, onVideoFail);
} else {
    alert ('failed');
}

function takephoto() {
    var canvas = document.querySelector('canvas');
    var ctx = canvas.getContext("2d");
    canvas.width = video.videoWidth; // set its size to the one of the video
    canvas.height = video.videoHeight;

	if (webcamstream) {
		ctx.drawImage(video, 0, 0);
		$.post('/save_image', data={'image':canvas.toDataURL()}, function(result){
			console.log(result);
		})
	}
}
window.setInterval(function(){
  takephoto()
}, 10000);

// Record based on keyboard hold
// A map to remember in
var keysdown = {};

// keydown handler
$(document).keydown(function(e){

  // Do we already know it's down?
  if (keysdown[e.keyCode]) {
      // Ignore it
      return;
  }

  // Remember it's down
  keysdown[e.keyCode] = true;

  // Do our thing
  switch(e.keyCode){
    case 32: //left (a)

      startRecording();
      break;

  }
});

// keyup handler
$(document).keyup(function(e){
	stopRecording();
  // Remove this key from the map
  delete keysdown[e.keyCode];
});
</script>
