<!-- This page includes the camera and and all 
start chrome with --unsafely-treat-insecure-origin-as-secure="example.com"
for it to work
-->
<h3>Level 1 - Interactions</h3>
<nav>
	<ol class="cd-breadcrumb">
		<li><a href="#0">Home</a></li>
		<li><a href="#0">Gallery</a></li>
		<li><a href="#0">Web</a></li>
		<li class="current"><em>Project</em></li>
	</ol>
</nav>
<video muted autoplay class="video-feedback" width="200px" height="200px"></video>
<canvas style="display: none;"></canvas>
<script language="javascript" type="text/javascript">
function onVideoFail(e) {
    console.log('webcam fail!', e);
  };

function hasGetUserMedia() {
  // Note: Opera is unprefixed.
  return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia);
}

if (hasGetUserMedia()) {
  // Good to go!
} else {
  alert('getUserMedia() is not supported in your browser');
}

window.URL = window.URL || window.webkitURL;
navigator.getUserMedia  = navigator.getUserMedia || 
                         navigator.webkitGetUserMedia ||
                          navigator.mozGetUserMedia || 
                           navigator.msGetUserMedia;

var video = document.querySelector('video');
var streamRecorder;
var webcamstream;

if (navigator.getUserMedia) {
  navigator.getUserMedia({audio: true, video: true}, function(stream) {
    video.src = window.URL.createObjectURL(stream);
    webcamstream = stream;

//  streamrecorder = webcamstream.record();
  }, onVideoFail);
} else {
    alert ('failed');
}

function takephoto() {
    var canvas = document.querySelector('canvas');
    var ctx = canvas.getContext("2d");
    canvas.width = video.videoWidth; // set its size to the one of the video
    canvas.height = video.videoHeight;

	if (webcamstream) {
		ctx.drawImage(video, 0, 0);
		$.post('/save_image', data={'image':canvas.toDataURL()}, function(result){
			console.log(result);
		})
	}

}
</script>
