.indicator {
  font-size:20px;
  }
  .col {
      width: 33%;
    /* float: left; */
    display: inline-block;
    height: 255px;
    padding: 0!important;
}
.col.text h2{
  font-weight: 100!important;
  color: white!important;
}
.wrapper h2 {
  text-decoration: underline;
}
.wrapper {
  margin-top: 62px;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.speedometer {
  overflow: hidden;
  width: 210px;
  height: 120px;
  position: relative;
  margin: 20px auto;
}
.speedometer::after {
  background-color: #fff;
  height: 10px;
  width: 130px;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  content: '';
  position: absolute;
  border-radius: 1px;
  z-index: 40;
  right: 0;
}
.speedometer .dial {
  padding-top: 20px;
  overflow: hidden;
}
.speedometer .needle {
  position: absolute;
  left: 0;
  right: 0;
  top: 2px;
  width: 12px;
  margin: 0 auto;
  z-index: 50;
}
.speedometer .needle .inner {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMSBUaW55Ly9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLXRpbnkuZHRkIj48c3ZnIHZlcnNpb249IjEuMSIgYmFzZVByb2ZpbGU9InRpbnkiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEycHgiIGhlaWdodD0iMTEzcHgiIHZpZXdCb3g9IjAgMCAxMiAxMTMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiM2NzY3NjciIGQ9Ik0wLjA2NywxMDYuMzQ0Yy0wLjAxNiwwLjEzNS0wLjAyNCwwLjU0My0wLjAzMiwwLjY4MWwtMC4wMTIsMC40MTFoMC4wMDVjLTAuMDAxLDAtMC4wMTEtMC4xNDYtMC4wMTEtMC4wODFjMC4wMDYsMy4xOSwyLjY4OSw1LjYzNSw1Ljk5NSw1LjYyOWMzLjMwNC0wLjAwNyw1Ljk3OC0yLjY2Niw1Ljk3MS01Ljg1NmMtMC4wMDEtMC40MTUtMC4wNS0wLjg1My0wLjEzNi0xLjI0Mkw2LjAxMiwwLjEyNEwwLjA2NywxMDYuMzQ0eiIvPjwvc3ZnPg==);
  background-size: 100%;
  height: 112px;
  width: 12px;
  position: relative;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.speedometer .needle .top,
.speedometer .needle .bottom {
  display: none;
  position: absolute;
}
.speedometer .needle .top {
  border-color: transparent;
}
.speedometer .needle .bottom {
  background-color: transparent;
}
.speedometer .bar {
  position: relative;
  overflow: hidden;
  height: 95px;
}
.speedometer .half-circle {
  height: 95px;
  width: 190px;
  border-radius: 190px 190px 0 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.speedometer .half-circle-bg {
  background-color: #e0f3fc;
  z-index: 10;
}
.speedometer .half-circle-speed {
  background-color: #ED557A;
  z-index: 20;
}
.speedometer .half-circle-cover {
  background-color: #fff;
  height: 65px;
  width: 130px;
  border-radius: 190px 190px 0 0;
  background: #fff;
  margin: 0 auto;
  top: auto;
  bottom: 0;
  z-index: 30;
}
.speedometer .animated {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
[class*='sm'] .speedometer {
  width: 130.2px;
  height: 74.4px;
  position: relative;
  margin: 20px auto;
}
[class*='sm'] .speedometer::after {
  height: 6.2px;
  width: 80.6px;
}
[class*='sm'] .speedometer .dial {
  padding-top: 12.4px;
}
[class*='sm'] .speedometer .bar {
  position: relative;
  overflow: hidden;
  height: 58.9px;
}
[class*='sm'] .speedometer .half-circle {
  height: 58.9px;
  width: 117.8px;
  border-radius: 117.8px 117.8px 0 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
[class*='sm'] .speedometer .half-circle-cover {
  height: 40.3px;
  width: 80.6px;
  border-radius: 117.8px 117.8px 0 0;
}
[class*='sm'] .speedometer .needle {
  width: 7.44px;
}
[class*='sm'] .speedometer .needle .inner {
  height: 69.44px;
  width: 7.44px;
}

.scaled-90 .speedometer {
  width: 189px;
  height: 108px;
  position: relative;
  margin: 20px auto;
}
.scaled-90 .speedometer::after {
  height: 9px;
  width: 117px;
}
.scaled-90 .speedometer .dial {
  padding-top: 18px;
}
.scaled-90 .speedometer .bar {
  position: relative;
  overflow: hidden;
  height: 85.5px;
}
.scaled-90 .speedometer .half-circle {
  height: 85.5px;
  width: 171px;
  border-radius: 171px 171px 0 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.scaled-90 .speedometer .half-circle-cover {
  height: 58.5px;
  width: 117px;
  border-radius: 171px 171px 0 0;
}
.scaled-90 .speedometer .needle {
  width: 10.8px;
}
.scaled-90 .speedometer .needle .inner {
  height: 100.8px;
  width: 10.8px;
}

.scaled-80 .speedometer {
  width: 168px;
  height: 96px;
  position: relative;
  margin: 20px auto;
}
.scaled-80 .speedometer::after {
  height: 8px;
  width: 104px;
}
.scaled-80 .speedometer .dial {
  padding-top: 16px;
}
.scaled-80 .speedometer .bar {
  position: relative;
  overflow: hidden;
  height: 76px;
}
.scaled-80 .speedometer .half-circle {
  height: 76px;
  width: 152px;
  border-radius: 152px 152px 0 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.scaled-80 .speedometer .half-circle-cover {
  height: 52px;
  width: 104px;
  border-radius: 152px 152px 0 0;
}
.scaled-80 .speedometer .needle {
  width: 9.6px;
}
.scaled-80 .speedometer .needle .inner {
  height: 89.6px;
  width: 9.6px;
}

.scaled-70 .speedometer {
  width: 147px;
  height: 84px;
  position: relative;
  margin: 20px auto;
}
.scaled-70 .speedometer::after {
  height: 7px;
  width: 91px;
}
.scaled-70 .speedometer .dial {
  padding-top: 14px;
}
.scaled-70 .speedometer .bar {
  position: relative;
  overflow: hidden;
  height: 66.5px;
}
.scaled-70 .speedometer .half-circle {
  height: 66.5px;
  width: 133px;
  border-radius: 133px 133px 0 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.scaled-70 .speedometer .half-circle-cover {
  height: 45.5px;
  width: 91px;
  border-radius: 133px 133px 0 0;
}
.scaled-70 .speedometer .needle {
  width: 8.4px;
}
.scaled-70 .speedometer .needle .inner {
  height: 78.4px;
  width: 8.4px;
}

.scaled-60 .speedometer {
  width: 126px;
  height: 72px;
  position: relative;
  margin: 20px auto;
}
.scaled-60 .speedometer::after {
  height: 6px;
  width: 78px;
}
.scaled-60 .speedometer .dial {
  padding-top: 12px;
}
.scaled-60 .speedometer .bar {
  position: relative;
  overflow: hidden;
  height: 57px;
}
.scaled-60 .speedometer .half-circle {
  height: 57px;
  width: 114px;
  border-radius: 114px 114px 0 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.scaled-60 .speedometer .half-circle-cover {
  height: 39px;
  width: 78px;
  border-radius: 114px 114px 0 0;
}
.scaled-60 .speedometer .needle {
  width: 7.2px;
}
.scaled-60 .speedometer .needle .inner {
  height: 67.2px;
  width: 7.2px;
}

.scaled-50 .speedometer {
  width: 105px;
  height: 60px;
  position: relative;
  margin: 20px auto;
}
.scaled-50 .speedometer::after {
  height: 5px;
  width: 65px;
}
.scaled-50 .speedometer .dial {
  padding-top: 10px;
}
.scaled-50 .speedometer .bar {
  position: relative;
  overflow: hidden;
  height: 47.5px;
}
.scaled-50 .speedometer .half-circle {
  height: 47.5px;
  width: 95px;
  border-radius: 95px 95px 0 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.scaled-50 .speedometer .half-circle-cover {
  height: 32.5px;
  width: 65px;
  border-radius: 95px 95px 0 0;
}
.scaled-50 .speedometer .needle {
  width: 6px;
}
.scaled-50 .speedometer .needle .inner {
  height: 56px;
  width: 6px;
}

.percent-100 .speedometer.play .animated,
.percent-100-sm .speedometer.play .animated {
  -webkit-animation-name: to-100;
          animation-name: to-100;
}

.percent-100-static .animated,
.percent-100-static-sm .animated {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.percent-66 .speedometer.play .animated,
.percent-66-sm .speedometer.play .animated {
  -webkit-animation-name: to-66;
          animation-name: to-66;
}

.percent-66-static .animated,
.percent-66-static-sm .animated {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: rotate(-60.12deg);
          transform: rotate(-60.12deg);
}

.percent-60 .speedometer.play .animated,
.percent-60-sm .speedometer.play .animated {
  -webkit-animation-name: to-60;
          animation-name: to-60;
}

.percent-60-static .animated,
.percent-60-static-sm .animated {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}

.percent-40 .speedometer.play .animated,
.percent-40-sm .speedometer.play .animated {
  -webkit-animation-name: to-40;
          animation-name: to-40;
}

.percent-40-static .animated,
.percent-40-static-sm .animated {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}

.percent-33 .speedometer.play .animated,
.percent-33-sm .speedometer.play .animated {
  -webkit-animation-name: to-33;
          animation-name: to-33;
}

.percent-33-static .animated,
.percent-33-static-sm .animated {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: rotate(-120.06deg);
          transform: rotate(-120.06deg);
}

.percent-30 .speedometer.play .animated,
.percent-30-sm .speedometer.play .animated {
  -webkit-animation-name: to-30;
          animation-name: to-30;
}

.percent-30-static .animated,
.percent-30-static-sm .animated {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: rotate(-126deg);
          transform: rotate(-126deg);
}

.percent-16 .speedometer.play .animated,
.percent-16-sm .speedometer.play .animated {
  -webkit-animation-name: to-16;
          animation-name: to-16;
}

.percent-16-static .animated,
.percent-16-static-sm .animated {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: rotate(-150.12deg);
          transform: rotate(-150.12deg);
}

@-webkit-keyframes to-100 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes to-100 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes to-66 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-60.12deg);
            transform: rotate(-60.12deg);
  }
}
@keyframes to-66 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-60.12deg);
            transform: rotate(-60.12deg);
  }
}
@-webkit-keyframes to-60 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-72deg);
            transform: rotate(-72deg);
  }
}
@keyframes to-60 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-72deg);
            transform: rotate(-72deg);
  }
}
@-webkit-keyframes to-40 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-108deg);
            transform: rotate(-108deg);
  }
}
@keyframes to-40 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-108deg);
            transform: rotate(-108deg);
  }
}
@-webkit-keyframes to-33 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-120.06deg);
            transform: rotate(-120.06deg);
  }
}
@keyframes to-33 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-120.06deg);
            transform: rotate(-120.06deg);
  }
}
@-webkit-keyframes to-30 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-126deg);
            transform: rotate(-126deg);
  }
}
@keyframes to-30 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-126deg);
            transform: rotate(-126deg);
  }
}
@-webkit-keyframes to-16 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-150.12deg);
            transform: rotate(-150.12deg);
  }
}
@keyframes to-16 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-150.12deg);
            transform: rotate(-150.12deg);
  }
}
@media (max-width: 71.875em) {
  .speedometer {
    width: 189px;
    height: 108px;
    position: relative;
    margin: 20px auto;
  }
  .speedometer::after {
    height: 9px;
    width: 117px;
  }
  .speedometer .dial {
    padding-top: 18px;
  }
  .speedometer .bar {
    position: relative;
    overflow: hidden;
    height: 85.5px;
  }
  .speedometer .half-circle {
    height: 85.5px;
    width: 171px;
    border-radius: 171px 171px 0 0;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .speedometer .half-circle-cover {
    height: 58.5px;
    width: 117px;
    border-radius: 171px 171px 0 0;
  }
  .speedometer .needle {
    width: 10.8px;
  }
  .speedometer .needle .inner {
    height: 100.8px;
    width: 10.8px;
  }
}
@media (max-width: 64.0625em) {
  .speedometer {
    width: 168px;
    height: 96px;
    position: relative;
    margin: 20px auto;
  }
  .speedometer::after {
    height: 8px;
    width: 104px;
  }
  .speedometer .dial {
    padding-top: 16px;
  }
  .speedometer .bar {
    position: relative;
    overflow: hidden;
    height: 76px;
  }
  .speedometer .half-circle {
    height: 76px;
    width: 152px;
    border-radius: 152px 152px 0 0;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .speedometer .half-circle-cover {
    height: 52px;
    width: 104px;
    border-radius: 152px 152px 0 0;
  }
  .speedometer .needle {
    width: 9.6px;
  }
  .speedometer .needle .inner {
    height: 89.6px;
    width: 9.6px;
  }
}
@media (max-width: 56.25em) {
  .speedometer {
    width: 147px;
    height: 84px;
    position: relative;
    margin: 20px auto;
  }
  .speedometer::after {
    height: 7px;
    width: 91px;
  }
  .speedometer .dial {
    padding-top: 14px;
  }
  .speedometer .bar {
    position: relative;
    overflow: hidden;
    height: 66.5px;
  }
  .speedometer .half-circle {
    height: 66.5px;
    width: 133px;
    border-radius: 133px 133px 0 0;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .speedometer .half-circle-cover {
    height: 45.5px;
    width: 91px;
    border-radius: 133px 133px 0 0;
  }
  .speedometer .needle {
    width: 8.4px;
  }
  .speedometer .needle .inner {
    height: 78.4px;
    width: 8.4px;
  }
}
@media (max-width: 51.5625em) {
  .speedometer {
    width: 126px;
    height: 72px;
    position: relative;
    margin: 20px auto;
  }
  .speedometer::after {
    height: 6px;
    width: 78px;
  }
  .speedometer .dial {
    padding-top: 12px;
  }
  .speedometer .bar {
    position: relative;
    overflow: hidden;
    height: 57px;
  }
  .speedometer .half-circle {
    height: 57px;
    width: 114px;
    border-radius: 114px 114px 0 0;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .speedometer .half-circle-cover {
    height: 39px;
    width: 78px;
    border-radius: 114px 114px 0 0;
  }
  .speedometer .needle {
    width: 7.2px;
  }
  .speedometer .needle .inner {
    height: 67.2px;
    width: 7.2px;
  }
}

.heart {
  background-color: #ED5D7D;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: absolute;
  top: 20px;
  left: 21px;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #ED5D7D;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}
.achievement {
    width: 64px;
    height: 64px;
    background-color: #9E1E3A;
    border-radius: 32px;
    position: absolute;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: width 1s;
    overflow: hidden;
}
.achievement.out {
    width: 422px;
}
.circle {
    background: white;
    width: 58px;
    height: 58px;
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 30px;
}
.circle span:nth-child(1) {
    border-radius: 25px 0 0 0;
    -moz-border-radius: 25px 0 0 0;
    -webkit-border-radius: 25px 0 0 0;
    background-color: #75aa1e;
}
.circle span:nth-child(2) {
    border-radius: 0px 25px 0 0;
    -moz-border-radius: 0 25px 0 0;
    -webkit-border-radius: 0 25px 0 0;
    left: 30px;
}
.circle span:nth-child(3) {
    border-radius: 0 0 25px 0;
    -moz-border-radius: 0 0 25px 0;
    -webkit-border-radius: 0 0 25px 0;
    left: 30px;
    top: 30px;
}
.circle span:nth-child(4) {
    border-radius: 0 0 0 25px;
    -moz-border-radius: 0 0 0 25px;
    -webkit-border-radius: 0 0 0 25px;
    top: 30px;
}
.textss {
  position: absolute;
    left: 85px;
    top: 7px;
    color: #fff;
    font-size: 1.6em;
    white-space: nowrap
}


.conversation-panel {
  width: 45%;
  height: 450px;
  margin: 0 auto;
  position: relative;
  background: url('../images/girl.jpg?v2');
  background-size: cover;
  border: 2px solid #ED557A;
}
.cd-multi-steps li {
  white-space: nowrap;
}
.logo-title {
  font-size: 40px;
  color: white;
}
.video-feedback { 
    border-top: 3px solid #ED557A;
    border-left: 2px solid #ED557A;
    position: absolute;
    bottom: 0;
    right: 0;
}
.logo {
    position: absolute;
    top: 25px;
    left: 50px;
}
.cd-multi-steps.text-top li > *::before, .cd-multi-steps li.visited::after, .cd-multi-steps.text-bottom li::after,.cd-multi-steps.text-top li.visited > *::before, .cd-multi-steps.text-top li.current > *::before, .cd-multi-steps.text-bottom li.visited > *::before, .cd-multi-steps.text-bottom li.current > *::before {
  background: #ED557A!important;
}
.banner-area .container {
  padding-top: 25px;
}
.tlt p {
    font-size: 20px;
    text-transform: lowercase;
    margin-top: 10px;
}
h3.level {
  color: #9E1E3A;
}
.row.justify-content-center.height {
  display: block;
  text-align: center;
}
.row.justify-content-center.height.align-items-center {
  display: flex;
}

nav {
  width: 100%;
  margin: 0!important;
  display: block;
}
/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/* =================================== */
/*  Basic Style 
/* =================================== */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300;
}

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  display: block;
}

figure {
  margin: 0;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

iframe {
  border: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #777777;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

.card-panel {
  margin: 0;
  padding: 60px;
}

/**
 *  Typography
 *
 **/
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1em;
  line-height: inherit;
}

.gray-bg {
  background: #f9f9ff;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
}

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #222222;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
  color: #222222;
}

td, th {
  border-radius: 0px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear::before, .clear::after {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

.fz-11 {
  font-size: 11px;
}

.fz-12 {
  font-size: 12px;
}

.fz-13 {
  font-size: 13px;
}

.fz-14 {
  font-size: 14px;
}

.fz-15 {
  font-size: 15px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-30 {
  font-size: 30px;
}

.fz-48 {
  font-size: 48px !important;
}

.fw100 {
  font-weight: 100;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400 !important;
}

.fw500 {
  font-weight: 500;
}

.f700 {
  font-weight: 700;
}

.fsi {
  font-style: italic;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-150 {
  margin-top: 150px;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-15 {
  margin-right: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-0-i {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pr-30 {
  padding-right: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.p-40 {
  padding: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-italic {
  font-style: italic;
}

.text-white {
  color: #fff;
}

.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section-full {
  padding: 100px 0;
}

.section-half {
  padding: 75px 0;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.flex-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.display-table {
  display: table;
}

.light {
  color: #fff;
}

.dark {
  color: #000;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container.fullwidth {
  width: 100%;
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding: 0;
}

.section-bg {
  background: #f9fafc;
}

@media (max-width: 767px) {
  .no-flex-xs {
    display: block !important;
  }
}

.row.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.sample-text-area {
  background: #fff;
  padding: 100px 0 70px 0;
}

.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}

b, i, sup, sub, u, del {
  color: #e66686;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #777777;
}

.button-area {
  background: #fff;
}

.button-area .border-top-generic {
  padding: 70px 15px;
  border-top: 1px dotted #eee;
}

.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px;
}

.button-group-area .genric-btn:last-child {
  margin-right: 0;
}

.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.genric-btn:focus {
  outline: none;
}

.genric-btn.e-large {
  padding: 0 40px;
  line-height: 50px;
}

.genric-btn.large {
  line-height: 45px;
}

.genric-btn.medium {
  line-height: 30px;
}

.genric-btn.small {
  line-height: 25px;
}

.genric-btn.radius {
  border-radius: 3px;
}

.genric-btn.circle {
  border-radius: 20px;
}

.genric-btn.arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.genric-btn.arrow span {
  margin-left: 10px;
}

.genric-btn.default {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}

.genric-btn.default:hover {
  border: 1px solid #f9f9ff;
  background: #fff;
}

.genric-btn.default-border {
  border: 1px solid #f9f9ff;
  background: #fff;
}

.genric-btn.default-border:hover {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}

.genric-btn.primary {
  color: #fff;
  background: #e66686;
  border: 1px solid transparent;
}

.genric-btn.primary:hover {
  color: #e66686;
  border: 1px solid #e66686;
  background: #fff;
}

.genric-btn.primary-border {
  color: #e66686;
  border: 1px solid #e66686;
  background: #fff;
}

.genric-btn.primary-border:hover {
  color: #fff;
  background: #e66686;
  border: 1px solid transparent;
}

.genric-btn.success {
  color: #fff;
  background: #f09359;
  border: 1px solid transparent;
}

.genric-btn.success:hover {
  color: #f09359;
  border: 1px solid #f09359;
  background: #fff;
}

.genric-btn.success-border {
  color: #f09359;
  border: 1px solid #f09359;
  background: #fff;
}

.genric-btn.success-border:hover {
  color: #fff;
  background: #f09359;
  border: 1px solid transparent;
}

.genric-btn.info {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}

.genric-btn.info:hover {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}

.genric-btn.info-border {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}

.genric-btn.info-border:hover {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}

.genric-btn.warning {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}

.genric-btn.warning:hover {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}

.genric-btn.warning-border {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}

.genric-btn.warning-border:hover {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}

.genric-btn.danger {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}

.genric-btn.danger:hover {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}

.genric-btn.danger-border {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}

.genric-btn.danger-border:hover {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}

.genric-btn.link {
  color: #222222;
  background: #f9f9ff;
  text-decoration: underline;
  border: 1px solid transparent;
}

.genric-btn.link:hover {
  color: #222222;
  border: 1px solid #f9f9ff;
  background: #fff;
}

.genric-btn.link-border {
  color: #222222;
  border: 1px solid #f9f9ff;
  background: #fff;
  text-decoration: underline;
}

.genric-btn.link-border:hover {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}

.genric-btn.disable {
  color: #222222, 0.3;
  background: #f9f9ff;
  border: 1px solid transparent;
  cursor: not-allowed;
}

.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #f9f9ff;
  border-left: 2px solid #e66686;
}

@media (max-width: 767px) {
  .progress-table-wrap {
    overflow-x: scroll;
  }
}

.progress-table {
  background: #f9f9ff;
  padding: 15px 0px 30px 0px;
  min-width: 700px;
}

.progress-table .serial {
  width: 11.83%;
  padding-left: 30px;
}

.progress-table .country {
  width: 28.07%;
}

.progress-table .visit {
  width: 19.74%;
}

.progress-table .percentage {
  width: 40.36%;
  padding-right: 50px;
}

.progress-table .table-head {
  display: flex;
}

.progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
  color: #222222;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

.progress-table .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: flex;
}

.progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
  display: flex;
  align-items: center;
}

.progress-table .table-row .country img {
  margin-right: 15px;
}

.progress-table .table-row .percentage .progress {
  width: 80%;
  border-radius: 0px;
  background: transparent;
}

.progress-table .table-row .percentage .progress .progress-bar {
  height: 5px;
  line-height: 5px;
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
  background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
  background-color: #e66686;
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
  background-color: #f09359;
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
  background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
  background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
  background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
  background-color: #a367e7;
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
  background-color: #e66686;
}

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
}

.list-style {
  width: 14px;
  height: 14px;
}

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important;
}

.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #e66686;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%;
}

.ordered-list {
  margin-left: 30px;
}

.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #e66686;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list li span {
  font-weight: 300;
  color: #777777;
}

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #e66686;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-alpha li span {
  font-weight: 300;
  color: #777777;
}

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #e66686;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-roman li span {
  font-weight: 300;
  color: #777777;
}

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input:focus {
  outline: none;
}

.input-group-icon {
  position: relative;
}

.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3;
}

.input-group-icon .icon i {
  color: #797979;
}

.input-group-icon .single-input {
  padding-left: 45px;
}

.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none;
}

.single-textarea:focus {
  outline: none;
}

.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input-primary:focus {
  outline: none;
  border: 1px solid #e66686;
}

.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input-accent:focus {
  outline: none;
  border: 1px solid #eb6b55;
}

.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input-secondary:focus {
  outline: none;
  border: 1px solid #f09359;
}

.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.default-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.default-switch input + label {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #e66686;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.default-switch input:checked + label {
  left: 19px;
}

.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.primary-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.primary-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.primary-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.primary-switch input:checked + label:after {
  left: 19px;
}

.primary-switch input:checked + label:before {
  background: #e66686;
}

.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.confirm-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.confirm-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.confirm-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.confirm-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.confirm-switch input:checked + label:after {
  left: 19px;
}

.confirm-switch input:checked + label:before {
  background: #f09359;
}

.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.primary-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.primary-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.primary-checkbox input:checked + label {
  background: url(../img/elements/primary-check.png) no-repeat center center/cover;
  border: none;
}

.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.confirm-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.confirm-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.confirm-checkbox input:checked + label {
  background: url(../img/elements/success-check.png) no-repeat center center/cover;
  border: none;
}

.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.disabled-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.disabled-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.disabled-checkbox input:disabled {
  cursor: not-allowed;
  z-index: 3;
}

.disabled-checkbox input:checked + label {
  background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
  border: none;
}

.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.primary-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.primary-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.primary-radio input:checked + label {
  background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
  border: none;
}

.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.confirm-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.confirm-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.confirm-radio input:checked + label {
  background: url(../img/elements/success-radio.png) no-repeat center center/cover;
  border: none;
}

.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.disabled-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.disabled-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.disabled-radio input:disabled {
  cursor: not-allowed;
  z-index: 3;
}

.disabled-radio input:checked + label {
  background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
  border: none;
}

.default-select {
  height: 40px;
}

.default-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff;
  padding-left: 20px;
  padding-right: 40px;
}

.default-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}

.default-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 20px;
}

.default-select .nice-select .list .option.selected {
  color: #e66686;
  background: transparent;
}

.default-select .nice-select .list .option:hover {
  color: #e66686;
  background: transparent;
}

.default-select .current {
  margin-right: 50px;
  font-weight: 300;
}

.default-select .nice-select::after {
  right: 20px;
}

.form-select {
  height: 40px;
  width: 100%;
}

.form-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%;
}

.form-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}

.form-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 45px;
}

.form-select .nice-select .list .option.selected {
  color: #e66686;
  background: transparent;
}

.form-select .nice-select .list .option:hover {
  color: #e66686;
  background: transparent;
}

.form-select .current {
  margin-right: 50px;
  font-weight: 300;
}

.form-select .nice-select::after {
  right: 20px;
}

.header-wrap {
  position: relative;
}

.header-top {
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 767px) {
  .header-top {
    padding: 15px 0;
  }
}

.menu-bar {
  cursor: pointer;
}

.menu-bar span {
  color: #fff;
  font-size: 24px;
}

.main-menubar {
  position: relative;
}

nav {
  margin-right: 70px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  transform-origin: 100% 50%;
}

@media (max-width: 767px) {
  nav {
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 50px;
    text-align: right;
  }
}

nav.hide {
  transform: scale(0);
}

nav a {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 25px;
}

nav a:hover {
  color: white;
}

body {
  background-attachment: fixed;
  background-image: url("../img/body-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: -moz-linear-gradient(0deg, #e66587 0%, #f09458 100%);
  background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
  background-image: -ms-linear-gradient(0deg, #e66587 0%, #f09458 100%);
  opacity: 0.6;
  z-index: -1;
}

.main-wrapper-first {
  width: 68.75%;
  margin: 0 auto;
  margin-top: 6rem;
}

@media (min-width: 1200px) {
  .main-wrapper-first {
    width: 75%;
  }
}

@media (max-width: 1199px) {
  .main-wrapper-first {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .main-wrapper-first {
    margin-top: 3rem;
    width: 97%;
  }
}

.main-wrapper {
  width: 68.75%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .main-wrapper {
    width: 75%;
  }
}

@media (max-width: 1199px) {
  .main-wrapper {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .main-wrapper {
    width: 97%;
  }
}

.p1-gradient-bg, .primary-btn:after, .banner-area, .single-feature .icon:after, .service-area, .story-area, .single-widget .icon:after {
  background-image: -moz-linear-gradient(0deg, #e66587 0%, #f09458 100%);
  background-image: -webkit-linear-gradient(0deg, #ff6d83 0%, #ff3d77 100%);
  background-image: -ms-linear-gradient(0deg, #e66587 0%, #f09458 100%);
}

.p1-gradient-color, .single-feature .icon span {
  background: -webkit-linear-gradient(0deg, #e66587, #f09458);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .mt-sm-30 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .mt-sm-20 {
    margin-top: 20px;
  }
}

.primary-btn {
  line-height: 40px;
  padding: 0 30px;
  border-radius: 20px;
  background: white;
  border: 1px solid #fff;
  color: #222222;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.primary-btn:focus {
  outline: none;
}

.primary-btn span {
  color: red;
  position: relative;
  z-index: 2;
}

.primary-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.primary-btn:hover {
  opacity: 0.7;
  border: 1px solid transparent;
}

.primary-btn.hover {
  color: #fff;
  border: 1px solid transparent;
}

.banner-area .height {
  height: 100vh;
}

.banner-area .generic-height {
  height: 300px;
}

.banner-content .top {
  font-size: 22px;
}

.banner-content h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.featured-area {
  background: #fff;
  padding: 70px 0 80px 0;
}

.single-feature .icon {
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  position: relative;
}

.single-feature .icon span {
  position: relative;
  z-index: 2;
  font-size: 24px;
}

.single-feature .icon:after {
  position: absolute;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 3px;
}

.single-feature .desc {
  width: 72%;
}

@media (max-width: 991px) {
  .single-feature .desc {
    width: 100%;
  }
}

.single-feature .desc h6 {
  margin: 20px 0;
}

.single-feature:hover .icon {
  border: 1px solid transparent;
}

.single-feature:hover .icon:after {
  opacity: 1;
}

.single-feature:hover .icon span {
  background: -webkit-linear-gradient(-180deg, #fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-area {
  padding: 100px 0;
}

.single-service {
  margin-top: 40px;
}

.single-service .thumb {
  height: 10rem;
  width: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
}

.single-service .thumb .overlay-content {
  background: rgba(255, 255, 255, 0.89);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-service .desc {
  margin-top: 30px;
}

.single-service .desc h6 {
  margin-bottom: 10px;
}

.single-service .desc p {
  margin: 0;
}

.single-service:hover .overlay-content {
  opacity: 1;
  visibility: visible;
}

.amazing-works-area {
  background: #f9f9ff;
  padding: 100px 0;
}

.active-works-carousel .item .thumb {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 320px;
}

.active-works-carousel .item .caption {
  display: none;
  padding: 30px 40px;
}

.active-works-carousel .item .caption h6 {
  margin-bottom: 10px;
}

.active-works-carousel .item .caption p {
  margin-bottom: 0;
}

.active-works-carousel .center .caption {
  display: block;
}

.active-works-carousel .owl-dots {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: relative;
}

.active-works-carousel .owl-dots:after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 60%;
  height: 1px;
  background: #eeeeee;
  z-index: -1;
}

.active-works-carousel .owl-dots .owl-dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #eeeeee;
  margin: 0 50px;
}

@media (max-width: 767px) {
  .active-works-carousel .owl-dots .owl-dot {
    margin: 0 15px;
  }
}

.active-works-carousel .owl-dots .owl-dot.active {
  background: #e66587;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .story-title {
    text-align: center;
    margin-bottom: 50px;
  }
}

.story-area {
  padding: 90px 0;
  position: relative;
  position: relative;
}

.story-area:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: url(../img/story-bg.jpg) no-repeat center center/cover;
  z-index: 1;
}

@media (max-width: 991px) {
  .story-area:after {
    display: none;
  }
}

.story-area .story-box {
  padding: 60px 90px;
  background: #fff;
  border-radius: 3px;
  position: relative;
  z-index: 2;
}

@media (max-width: 991px) {
  .story-area .story-box {
    padding: 30px 50px;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .story-area .story-box {
    padding: 30px;
  }
}

.story-area .story-box h6 {
  margin-bottom: 15px;
}

.story-area:after {
  content: "";
  position: absolute;
}

.subscription-area {
  background: #fff;
  padding: 100px 0;
}

.subscription input {
  width: 100%;
  line-height: 50px;
  padding: 0 180px 0 25px;
  border: none;
  background: transparent;
  font-weight: 300;
  border-radius: 25px;
  background: #f9f9ff;
}

.subscription .primary-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.subscription .info {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 12px;
}

.subscription .info.valid {
  color: green;
}

.subscription .info.error {
  color: red;
}

@media (max-width: 767px) {
  .subscription input {
    padding: 0 25px;
  }
  .subscription .primary-btn {
    top: 120%;
    transform: translate(50%, 0);
    right: 50%;
    width: 167px;
  }
  .subscription .info {
    top: 110px;
  }
}

.footer-widget-area {
  padding: 70px 0 100px 0;
  background: transparent;
}

.single-widget {
  margin-top: 30px;
}

.single-widget .icon {
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
}

.single-widget .icon span {
  position: relative;
  z-index: 2;
  font-size: 24px;
  color: #fff;
}

.single-widget .icon:after {
  position: absolute;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 3px;
}

.single-widget .desc {
  width: 72%;
}

@media (max-width: 991px) {
  .single-widget .desc {
    width: 100%;
  }
}

.single-widget .desc h6 {
  margin: 20px 0;
  color: #fff;
}

.single-widget .desc .contact a {
  color: #fff;
}

.single-widget .desc p {
  color: #fff;
}

.single-widget:hover .icon {
  border: 1px solid transparent;
}

.single-widget:hover .icon:after {
  opacity: 1;
}

.single-widget:hover .icon span {
  color: #fff;
}

footer {
  background: rgba(0, 0, 0, 0.25);
  padding: 15px 0;
}

footer .copy-right-text {
  color: #fff;
}

@media (max-width: 991px) {
  footer .copy-right-text {
    margin: 20px 0;
  }
}

footer .copy-right-text a {
  color: #e66686;
}

.footer-social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  line-height: 30px;
  color: #fff;
  position: relative;
}

.footer-social a i {
  position: relative;
  z-index: 2;
  color: #fff;
}

.footer-social a:after {
  position: absolute;
  z-index: 1;
  content: "";
  background-image: -moz-linear-gradient(0deg, #e66587 0%, #f09458 100%);
  background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
  background-image: -ms-linear-gradient(0deg, #e66587 0%, #f09458 100%);
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.footer-social a:hover {
  border: 1px solid transparent;
}

.footer-social a:hover:after {
  opacity: 1;
}

.about-generic-area {
  background: #fff;
}

.about-generic-area .border-top-generic {
  padding: 100px 15px;
  border-top: 1px dotted #eee;
}

.about-generic-area p {
  margin-bottom: 20px;
}

.white-bg {
  background: #fff;
}

.section-top-border {
  padding: 70px 0;
  border-top: 1px dotted #eee;
}

.switch-wrap {
  margin-bottom: 10px;
}

.switch-wrap p {
  margin: 0;
}
